
.search-container {
    margin-top: 16px;
}

.event-timestamp {
    border-right: 1px solid #dee2e6;
}

.event-raw {
    font-family: 'Courier New', Courier, monospace;
}

.event-additional {
}

.event-additional dt {
    
}

.event-additional dd:last-child {
    margin-bottom: 0;
}