
.search-container {
    margin-top: 16px;
}

.field-row {
    cursor: pointer;
}

.field-value {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 0;
}

.field-value-count {
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 0;
    width: 50%;
}

.field-value-percentage {
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 0;
    width: 20%;
}

.search-result-table td {
    border-top: 3px solid #dee2e6;
}

td.event-timestamp {
    border-right: 1px solid #dee2e6;
    font-size: 9pt;
    white-space: pre;
}

.event-raw {
    font-family: 'Courier New', Courier, monospace;
    font-size: 9pt;
}

.event-additional {
    font-size: 9pt;
}

.event-additional dd:last-child {
    margin-bottom: 0;
}