@import "../lib/style/shared.scss";

.autoform {
    input {
        min-width: 320px;
    }
}

.level-1 {
    width: 100% !important;
}

.level {
    width: 80%;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
}
