@import "../lib/style/shared.scss";

.config-page {
    max-width: 900px;
    margin: 0 auto;
}

.config-group {
    display: flex;
    flex-direction: column;

    input, select {
        margin-bottom: 1rem;
    }
}
